<body class="welcome-body">
<div class="container">
  <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center form-color">
    <fieldset>
      <legend class="signup-border"><%= t('users.sessions.new.legend_label') %> </legend>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= link_to params.merge(locale: 'en') do %>
              <i class="famfamfam-flag-gb"></i>
          <% end %>
          <%= link_to params.merge(locale: 'uk') do %>
              <i class="famfamfam-flag-ua"></i>
          <% end %>
          <div class="form-group normal-width">
            <%= f.email_field :email, class: 'form-control', placeholder: t('users.sessions.new.email_label') %>
          </div>

          <div class="form-group normal-width">
            <%= f.password_field :password, class: 'form-control', placeholder: t('users.sessions.new.password_label'), autocomplete: 'off' %>
          </div>

          <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label t('users.sessions.new.remember_me') %>
              </div>
          <% end %>

          <div class="actions">
            <%= f.submit t('users.sessions.new.login_label'), class: 'btn btn-success' %>
          </div>
      <% end %>

      <%= render "users/shared/links" %>
    </fieldset>
  </div>
</div>
</body>