<script>
    $(function () {
        $("#accordion").accordion({
            active: <% if params.has_key?(:category) %>   0 // category section
            <% elsif params.has_key?(:genre) %>   1 // genres section
                    <% elsif params.has_key?(:tag)  %>   2 // tags section
            <% else %>                            0 // by default using category behaviour
            <% end %>
        });
    });
</script>

<!-- sidebar menu-->
<h3 id="my_list_header"><%= link_to t('films.side_menu.my_list'), root_path, name: 'film_counter', data: { toggle: 'tooltip' }, title: "#{Film.user_films(current_user.id).count.to_s}" %></h3>

<script>
    $('a[name=film_counter]').tooltip({
        /*or use any other selector, class, ID*/
        placement: "right",
        trigger: "hover"
    });
</script>

<hr/>

<div id="accordion">
  <h3><%= t('films.side_menu.categories') %></h3>

  <div>
    <ul class="nav nav-pills nav-stacked" id="sidebar-category">
      <%= link_to_in_li_local t('films.side_menu.films'), Film.category(current_user.id, 'Фильмы').count, category: 'Фильмы', id: 'films_link' %>
      <%= link_to_in_li_local t('films.side_menu.tv_series'), Film.category(current_user.id, 'Сериалы').count, category: 'Сериалы', id: 'series_link' %>
      <%= link_to_in_li_local t('films.side_menu.cartoons'), Film.category(current_user.id, 'Мультфильмы').count, category: 'Мультфильмы', id: 'cartoons_link' %>
      <%= link_to_in_li_local t('films.side_menu.cartoon_series'), Film.category(current_user.id, 'Мультсериалы').count, category: 'Мультсериалы', id: 'cartoon_series_link' %>
      <%= link_to_in_li_local t('films.side_menu.shows'), Film.category(current_user.id, 'Телепередачи').count, category: 'Телепередачи', id: 'shows_link' %>
      <%= link_to_in_li_local t('films.side_menu.concerts'), Film.category(current_user.id, 'Концерты').count, category: 'Концерты', id: 'concerts_link' %>
      <%= link_to_in_li_local t('films.side_menu.clips'), Film.category(current_user.id, 'Клипы').count, category: 'Клипы', id: 'clips_link' %>
    </ul>
  </div>

  <h3><%= t('films.side_menu.genres') %></h3>

  <div>
    <ul class="nav nav-pills nav-stacked" id="sidebar-menu">
      <%= link_to_in_li_local t('films.side_menu.anime'), Film.genres(current_user.id, 'аниме').count, genre: 'аниме', id: 'anime_link' %>
      <%= link_to_in_li_local t('films.side_menu.action'), Film.genres(current_user.id, 'боевик').count, genre: 'боевик', id: 'action_movie_link' %>
      <%= link_to_in_li_local t('films.side_menu.detective'), Film.genres(current_user.id, 'детектив').count, genre: 'детектив', id: 'detective_link' %>
      <%= link_to_in_li_local t('films.side_menu.documentary'), Film.genres(current_user.id, 'документальный').count, genre: 'документальный', id: 'documentary_link' %>
      <%= link_to_in_li_local t('films.side_menu.drama'), Film.genres(current_user.id, 'драма').count, genre: 'драма', id: 'drama_link' %>
      <%= link_to_in_li_local t('films.side_menu.comedy'), Film.genres(current_user.id, 'комедия').count, genre: 'комедия', id: 'comedy_link' %>
      <%= link_to_in_li_local t('films.side_menu.adventure'), Film.genres(current_user.id, 'приключения').count, genre: 'приключения', id: 'adventure_link' %>
      <%= link_to_in_li_local t('films.side_menu.family'), Film.genres(current_user.id, 'семейный').count, genre: 'семейный', id: 'family_link' %>
      <%= link_to_in_li_local t('films.side_menu.thriller'), Film.genres(current_user.id, 'триллер').count, genre: 'триллер', id: 'thriller_link' %>
      <%= link_to_in_li_local t('films.side_menu.horror'), Film.genres(current_user.id, 'ужасы').count, genre: 'ужасы', id: 'horror_link' %>
      <%= link_to_in_li_local t('films.side_menu.fiction'), Film.genres(current_user.id, 'фантастика').count, genre: 'фантастика', id: 'fiction_link' %>
      <%= link_to_in_li_local t('films.side_menu.fantasy'), Film.genres(current_user.id, 'фэнтези').count, genre: 'фэнтези', id: 'fantasy_link' %>
      <%= link_to_in_li_local t('films.side_menu.erotica'), Film.genres(current_user.id, 'эротика').count, genre: 'эротика', id: 'erotica_link' %>
    </ul>
  </div>

  <h3><%= t('films.side_menu.tags') %></h3>

  <div>
    <ul class="nav nav-pills nav-stacked">
      <% unless @uniq_tags.nil? %>
          <% @uniq_tags.each do |t| %>
              <p> <%= link_to_in_li_local t, Film.tags(current_user.id, t).count, tag: t %> </p>
          <% end %>
      <% end %>
    </ul>
  </div>

</div> <!-- accordion -->
<!-- sidebar menu end-->
