<body class="welcome-body">
<div class="welcome-locales">
  <%= link_to params.merge(locale: 'en') do %>
      <i class="famfamfam-flag-gb"></i> UK
  <% end %>
  <%= link_to params.merge(locale: 'uk') do %>
      <i class="famfamfam-flag-ua"></i> UA
  <% end %>
</div>
<div class="container site-wrapper">
  <div class="jumbotron">
    <div class="text-center inner">
      <img src="/assets/logo-big.png"/>

      <h1 class="cover-heading"> <%= t('.slogan')%></h1>

      <p class="lead"> <%= t('.short_decription')%> </p>

      <p class="lead">
        <%= link_to t('.button'), { controller: 'films', action: 'index' }, class: 'btn btn-lg btn-default' %>
      </p>

      <!--<div class="welcome-footer">-->
      <!--<hr>-->
      <!--<p class='text-center' style="color: #fff;">Video Depot <a href="http://getbootstrap.com" style="color: gray;">Maksym Tymoshyk</a>. &copy;2015-->
      <!--</p>-->
      <!--</div>-->
    </div>
  </div>
</div>
</body>