<%= render partial: 'shared/menu_bar' %>

  <div class="container">
    <div class="row">

      <div class="col-md-3">
          <%= render partial: 'shared/side_menu' %>
      </div>

      <div class="col-md-9">
        <div class="row">
              <% @films.each do |film| %>
              <div class="col-md-3 col-sm-6">
                <a class="thumbnail">
                  <img src="/assets/thumb.svg" alt="cool_pic"/>
                </a>
                  <p class="text-center">
                    Film ID: <%= film.id%> <br/>
                    Name: <%= link_to film.name, film_path(film) %> <br/>
                    Year: <%= film.year %> <br/>
                    Genre: <%= film.genre %> <br/>
                    Rating: <%= film.rating %> <br/> <br/>
                    <%= link_to 'Edit', edit_film_path(film), class: 'btn btn-info' %>
                    <%= link_to 'Delete', film, class: 'btn btn-danger', method: :delete, data: { confirm: 'Confirm deleting, please.' } %> <br/>
                  </p>
              </div>
              <% end %>
        </div>
      </div>

    </div>
  </div>
