<%= render partial: 'shared/menu_bar' %>

  <div class="container">
    <div class="row">

      <div class="col-md-3">
          <%= render partial: 'shared/side_menu' %>
      </div>

      <div class="col-md-9">
        <div class="row">
              <% @films.each do |film| %>
              <div class="col-md-3 col-sm-6">
                <a class="thumbnail">
                  <img src="<%= film.image %>" alt="poster"/>
                </a>
                  <p class="text-center">
                    <!-- film_path(film)-->
                    Name: <%= link_to film.title, film.link %> <br/>
                    Original name: <%= film.original_title %> <br/>
                    Genres: <%= film.genres %> <br/>
                    Category: <%= film.category %> <br/>
                    Year: <%= film.year %> <br/>
                    Country: <%= film.country %> <br/>
                    Rating: <%= film.rating %> <br/> <br/>
                    <%= link_to 'Edit', edit_film_path(film), class: 'btn btn-info' %>
                    <%= link_to 'Delete', film, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %> <br/>
                  </p>
              </div>
              <% end %>
        </div>
      </div>

    </div>
  </div>
