<%= render partial: 'partials/menu_bar' %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: 'partials/side_menu' %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <%= form_tag(new_film_path, id: 'new-form', method: 'get') do %>
            <h3 align="center"> <%= t('.find_header') %> </h3>

            <div class="input-group">
              <%= text_field_tag('add_field', nil, id: 'new-input', class: 'form-control', type: 'text', maxlength: 50, placeholder: t('.search_placeholder'), autofocus: true) %>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"> <%= t('.search_button') %> </button>
              </span>
            </div>
        <% end %>

        <!-- FIXME make this work by ruby on rails stuff!-->
        <script>
            $(document).ready(function () {
                $('#new-form').on('input', function () {
                    var capitalized = $('#new-input').val();
                    if (capitalized.length === 0) return;
                    capitalized = capitalized[0].toUpperCase() + capitalized.substring(1);
                    $('#new-input').val(capitalized);
                })
            })
        </script>

      </div>
      <br/>

      <div class="row">
        <% if @add_result.nil? %>
            <!-- First time clicked on add button-->
        <% elsif @add_result.empty? %>
            <%= render partial: 'partials/no_results' %>
        <% else %>
            <% @add_result.each do |result| %>
                <div class="col-md-3 col-sm-6 col-lg-3 text-center">
                  <%= form_tag('/films', id: 'form', method: :post) do %>
                      <input type="hidden" value="<%= result['poster'] %>" name="poster"/>
                      <input type="hidden" value="<%= result['title'] %>" name="title"/>
                      <input type="hidden" value="<%= 'http://www.fs.to' + result['link'] %>" name="link"/>
                      <input type="hidden" value="<%= result['genres'].class == Array ? result['genres'].join(', ') : result['genres'] = '–' %>" name="genres"/>
                      <input type="hidden" value="<%= result['subsection'] %>" name="category"/>
                      <input type="hidden" value="<%= result['year'][0] %>" name="year"/>
                      <input type="hidden" value="<%= result['country'][0] %>" name="country"/>

                      <div class="video-add-height">
                        <div class="thumbnail">
                          <img src="<%= result['poster'] %>" alt="poster" class="round-pic"/>

                          <div class="poster-actions">
                            <!--<div class="poster-actions-inner">-->
                            <%= link_to fa_icon('arrow-circle-o-down 3x', class: 'fa-fw'), '', class: 'video-add', onclick: "$(this).closest('form').submit()" %>
                            <!--</div>-->
                          </div>
                        </div>

                        <p class="p-height"> <%= link_to result['title'], 'http://www.fs.to' + result['link'] %> </p>

                        <p> <%= t('modal.category') + result['subsection'] %> </p>

                        <p>
                          <%= t('modal.genres') + (result['genres'].class == Array ? result['genres'].join(', ') : result['genres'] = '–') %> </p>

                        <p> <%= t('modal.year') + result['year'][0].to_s %> </p>

                        <p> <%= t('modal.country') + result['country'][0] %> </p>

                        <!--<button type='submit' class="btn btn-success"> <#%= t('.add_button') %> </button>-->
                      </div>
                  <% end %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>