<%= render partial: 'partials/menu_bar' %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: 'partials/side_menu' %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <%= form_tag('/films/new', id: 'new-form', method: 'get') do %>
            <h3 align="center">Что добавляем? </h3>

            <div class="input-group">
              <%= text_field_tag('add_field', nil, id: 'new-input', class: 'form-control', type: 'text', maxlength: 50, placeholder: 'Впишите название...', autofocus: true) %>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Поиск!</button>
              </span>
            </div>
        <% end %>

        <!-- FIXME make this work by ruby on rails stuff!-->
        <script>
            $(document).ready(function () {
                $('#new-form').on('input', function () {
                    var capitalized = $('#new-input').val();
                    if (capitalized.length === 0) return;
                    capitalized = capitalized[0].toUpperCase() + capitalized.substring(1);
                    $('#new-input').val(capitalized);
                })
            })
        </script>

      </div>
      <br/>

      <div class="row">
        <% if @add_result.nil? %>
            <!--<p>first time</p>-->
        <% elsif @add_result.empty? %>
            <!-- TODO put this into partial or helper-->
            <div class="text-center">
              <h1>No Results To Display</h1>
              <h4>Sorry, no items matched your search criteria.</h4>
            </div>
        <% else %>
            <% @add_result.each do |result| %>
                <div class="col-md-3 col-sm-6 col-lg-3">
                  <%= form_tag('/films', method: :post) do %>
                      <input type="hidden" value="<%= result['poster'] %>" name="poster"/>
                      <input type="hidden" value="<%= result['title'] %>" name="title"/>
                      <input type="hidden" value="<%= 'http://www.fs.to' + result['link'] %>" name="link"/>
                      <input type="hidden" value="<%= result['genres'].class == Array ? result['genres'].join(', ') : result['genres'] = '–' %>" name="genres"/>
                      <input type="hidden" value="<%= result['subsection'] %>" name="category"/>
                      <input type="hidden" value="<%= result['year'][0] %>" name="year"/>
                      <input type="hidden" value="<%= result['country'][0] %>" name="country"/>

                      <a class="thumbnail"> <img src="<%= result['poster'] %>" alt="poster"/> </a>

                      <!--<p class="text-center">-->
                      <p> <%= link_to result['title'], 'http://www.fs.to' + result['link'] %> </p>

                      <p> Категория: <%= result['subsection'] %> </p>

                      <p>
                        Жанры: <%= result['genres'].class == Array ? result['genres'].join(', ') : result['genres'] = '–' %> </p>

                      <p> Год: <%= result['year'][0] %> </p>

                      <p> Страна: <%= result['country'][0] %> </p>

                      <button type='submit' class="btn btn-success"> Добавить</button>
                      <!--<br/>-->
                  <% end %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>