<%= render partial: 'shared/menu_bar' %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: 'shared/side_menu' %>
    </div>

    <div class="col-md-9 text-center">
      <h1>Form to add new film</h1>
      <%= form_for @film do |f| %>
        <%= render partial: 'shared/form', locals: { f: f } %>
        <%= f.submit 'Add new film', class: 'btn btn-success' %>
      <% end %>
    </div>

  </div>
</div>
