<%= render partial: 'partials/menu_bar' %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: 'partials/side_menu' %>
    </div>

    <div class="col-md-9">
      <div class="row">

        <%= form_tag('/search', id: 'search-form', method: 'get') do %>
            <h3 align="center"><%= t('.search_label') %></h3>

            <div class="input-group">
              <%= text_field_tag('search_field', nil, class: 'form-control', id: 'search-input', type: 'text', maxlength: 50, placeholder: t('films.new.search_placeholder'), autofocus: true) %>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><%= t('films.new.search_button')%></button>
              </span>
            </div>
        <% end %>
        <!-- FIXME make this work by ruby on rails stuff!-->
        <script>
            $(document).ready(function () {
                $('#search-form').on('input', function () {
                    var capitalized = $('#search-input').val();
                    if (capitalized.length === 0) return;
                    capitalized = capitalized[0].toUpperCase() + capitalized.substring(1);
                    $('#search-input').val(capitalized);
                })
            })
        </script>

      </div>
      <br/>

      <div class="row">
        <% if @search_result.nil? %>
        <% elsif @search_result.empty? %>
            <%= render partial: 'partials/no_results' %>
        <% else %>
            <h3 align="center">Найдено <%= @search_result.count %> запись(ей).</h3>
            <% @search_result.each_with_index do |item, index| %>
                <div class="col-md-3 col-sm-6">
                  <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="text-center thumbnail">

                      <img src="<%= item.image %>" alt="poster" class="round-pic"/>
                      <%= link_to fa_icon('remove', class: 'fa-fw'), item, method: :delete, class: 'video-item-delete' %>

                      <div class="poster-actions">
                        <div class="poster-actions-inner">
                          <%= link_to fa_icon('eye', class: 'fa-fw'), item.link, class: 'video-item-show' %>
                          <%= link_to fa_icon('edit', class: 'fa-fw'), '', class: 'video-item-edit', 'data-toggle' => 'modal', 'data-target' => '#showModal' + index.to_s %>
                        </div>
                      </div>

                    </div>
                    <p class="text-center nice-height"> <%= item.title %> </p>
                  </div>
                  <%= render partial: 'partials/modal', locals: { edit_film: item, edit_index: index } %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
