<%= render partial: 'shared/menu_bar' %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: 'shared/side_menu' %>
    </div>

    <div class="col-md-9">
      <div class="row">

        <%= form_tag('/search', method: 'get') do %>
            <h3 align="center">Ultimate search: </h3>

            <div class="input-group">
              <%= text_field_tag('search_field', nil, class: 'form-control', type: 'text', placeholder: 'Type name of film...') %>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Search!</button>
              </span>
            </div>
        <% end %>
      </div>
      <br/>
      <div class="row">
       <% unless @search_result.nil?  %>
        <h3 align="center">Found <%= @search_result.count %> record(s).</h3>
            <% @search_result.each do |item| %>
                <div class="col-md-3 col-sm-6">
                  <a class="thumbnail">
                    <img src="<%= item.image %>" alt="poster"/>
                  </a>
                  <p class="text-center">
                    Film ID: <%= item.id%> <br/>
                    Name: <%= link_to item.title, film_path(item) %> <br/>
                    Year: <%= item.year %> <br/>
                    Genre: <%= item.genres %> <br/>
                    Rating: <%= item.rating %> <br/> <br/>
                    <%= link_to 'Edit', edit_film_path(item), class: 'btn btn-info' %>
                    <%= link_to 'Delete', item, class: 'btn btn-danger', method: :delete, data: { confirm: 'Confirm deleting, please.' } %> <br/>
                  </p>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
