<div class="container">
  <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center">
    <h2><%= t('users.registrations.new.forgot_password')%></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: false, placeholder: t('users.sessions.new.email_label') %>
        </div>
        <br/>

        <div class="actions">
          <%= f.submit t('users.passwords.new.instructions'), class: 'btn btn-warning' %>
        </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
